/* ---- editorial.css ---- */

/*

*text-tranform: 

lowercase: muestra todo el texto del elemento con letras minúsculas.

uppercase: muestra todo el texto del elemento con letras mayúsculas.

capitalize: muestra la primera letra de cada palabra en mayúscula y el resto de letras en minúsculas.

none: muestra el texto tal y como está escrito, respetando todas las mayúsculas y minúsculas.

*/


h1{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 0 0 8px #000000;
	margin-bottom: 15px;
}

h2{
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

p{
	text-transform: capitalize;
	margin-bottom: 40px;
}

a{
	text-decoration: none;
}

ol li{
	counter-increment: step-increment ;
}

ol li::before{
	content: counter(step-increment) ;
	display: inline;
}


