/* ---- Formas.css ---- */

.boton {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #ffb400;
	padding: 20px 30px; /*arriba y abajo 20px izquierda y derecha 30px esto gracias a css3*/
	border-bottom: 7px solid #e49100;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}