/* ---- Formas.css ---- */

.boton {
	background-color: #ffb400;
	width: 100%;
	height: 55px;
	line-height: 50px;
	border-bottom: 7px solid #e49100;
	box-sizing: border-box;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-right: 15px;
	text-shadow: 0 0 2px #222222;

	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;	

}

.boton:hover{
	background-color: #e49100;
}

.boton:last-of-type{
	margin-right: 0;
}

img{
	width: 100%;
}