/* ---- headerFooter.css ---- */

header, footer{
	background-color: #282828;
	position: fixed;
	width: 100%;
	padding: 10px 5px;
	box-sizing: border-box;
	color:#d3d1d1;
}

header{
	top: 0;
}

footer{
	bottom: 0;
}

.link_a{
	color:#d3d1d1;
}

.contenedorNavegador{
	height: 100%;
}

header img{
	width: 250px;
	display: inline-block;
}

