/* ---- secciones.css ---- */

.ultimaFila{
	margin-bottom: 100px;
}

.single {
    margin: 130px 0;
}

.info {
    background-color: #aec7d3; /*95bfd1*/
    color: #555;
    padding: 20px;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-radius: 3px;
}