/* ---- secciones.css ---- */

.home {
	background: #ffffff url('../assets/bg.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	text-align: center;
	color: #ffffff;
	box-sizing: border-box;
}

.principalPaginasAdicionales{
	background-color: rgb(200,200,200);
}